html {
  scroll-behavior: smooth;
}

.footer{
    background-color: #bdbdbd;
    margin: auto;
    padding: 20px 0px 20px 0px;
}

.bg-primary {
    background-color: #303F9F!important;
}

/*SOCİAL İCONS*/
  
  /* footer social icons */
  
  ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
  
  
  /* footer social icons */
  
  .social-network a.icoFacebook:hover {
    background-color: #3B5998;
  }
  
  .social-network a.icoLinkedin:hover {
    background-color: #007bb7;
  }

  .social-network a.icoInstagram:hover {
    background-color: #fb3958;
  }

  .social-network a.icoTwitter:hover {
    background-color: #007bb7;
  }

  .social-network a.icoGithub:hover {
    background-color: #211F1F;
  }

  .social-network a.icoMail:hover {
    background-color: #577be0;
  }
  
  .social-network a.icoFacebook:hover i,
  .social-network a.icoLinkedin:hover i,
  .social-network a.icoInstagram:hover i,
  .social-network a.icoMail:hover i,
  .social-network a.icoTwitter:hover i,
  .social-network a.icoGithub:hover i {
    color: #fff;
  }
  
  .social-network a.socialIcon:hover,
  .socialHoverClass {
    color: #44BCDD;
  }
  
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  
  .social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
  }
  
  .social-circle li a:hover i,
  .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  .social-network a {
    background-color: #F9F9F9;
  }

  .wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/70731dc8-8977-4ed7-9a0a-421f510aea00/d1aef155-9681-4803-9bfc-2fb5728da810/IN-en-20200914-popsignuptwoweeks-perspective_alpha_website_small.jpg');
  }
  
  .form-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: #bdbdbd;
  }
  
  form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  h1 {
    text-align: center;
    width: 100%;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  label {
    font-size: 0.8em;
    margin-bottom: 0.25em;
    color: #222;
    font-weight: lighter;
  }
  
  input {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cfcfcf;
  }
  
  input::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: #999;
  }
  
  input.error {
    border: 1px solid red;
  }
  
  .errorMessage {
    color: red;
    font-size: 0.75em;
    display: relative;
  }
  
  .firstName {
    margin-right: 1%;
  }
  
  .lastName {
    margin-left: 1%;
  }
  
  .firstName,
  .lastName,
  .email,
  .password {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    font-weight: bold;
  }
  
  .email,
  .password {
    width: 100%;
  }
  
  .createAccount {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .createAccount button {
    background-color: #303F9F;
    color: #fff;
    border: 2px solid #fff;
    width: 100%;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
  }
  
  .createAccount button:hover {
    color: #519e8a;
    background-color: #fff;
    border: 2px solid #519e8a;
  }
  
  .createAccount small {
    color: #999;
    font-weight: lighter;
  }

  .swal-confirm {
    background-color: #303F9F;
  }

  .scrollbar-custom {
    overflow-x: auto;
    /* -ms-overflow-style: none;  /* IE and old Edge 
    scrollbar-width: none; firefox */
  }

  /*.scrollbar-custom::-webkit-scrollbar {
    /*display: none;*/ /*Chrome and new Edge
    width: 20px;  /*for hiding scrollbar
  } */

  .scrollbar-custom::-webkit-scrollbar {
    width: 20px;
  }
  
  .scrollbar-custom::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 5px solid transparent;
    background-clip: content-box;
  }
  
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }

  .giveMeEllipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; /* number of lines to show */
 }